:host {
    display: grid;
    place-items: center;
    height: 100%;
    background: #586994;
    color: white;
}

// Light gray #A2ABAB
// Dark gray #7d869c
// Dark blue #586994
// Green #b4c4ae
// Yellow #e5e8b6
