<form [formGroup]="form">
    <mat-form-field appearance="fill">
        <mat-label>Fra</mat-label>
        <input type="time" matInput formControlName="startTime" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Til</mat-label>
        <input type="time" matInput formControlName="endTime" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Pause</mat-label>
        <input type="number" matInput formControlName="lunchBreak" />
    </mat-form-field>

    <!-- <label>Til</label>
    <input type="time" formControlName="endTime" />
    <label>Pause</label>
    <input type="number" formControlName="lunchBreak" /> -->
</form>

<br />
<ng-container *ngIf="value$ | async as value">
    {{ secondsToHHMM(value) }}
    <button class="inline" (click)="addTimeDuration(value)">Legg til</button>
</ng-container>

<ul>
    <li *ngFor="let item of timeDurations">
        {{ secondsToHHMM(item) }}
    </li>
</ul>

<hr />

<div class="footer">
    <span>{{ summation }}</span> <button (click)="onReset()">Reset</button>
</div>
