<mat-card>
    <mat-card-subtitle>Beregn arbeidstid</mat-card-subtitle>

    <mat-card-content>
        <form [formGroup]="form" class="c-form">
            <ng-container formArrayName="workHours">
                <ng-container
                    *ngFor="
                        let workHour of workHoursArray.controls;
                        let i = index;
                        let first = first
                    "
                >
                    <div class="c-form-group">
                        <section
                            class="c-form-section"
                            [formGroup]="getWorkHourFormGroup(workHour)"
                        >
                            <mat-form-field appearance="outline">
                                <mat-label>Fra</mat-label>
                                <input
                                    inputAutoFocus
                                    type="time"
                                    matInput
                                    formControlName="startTime"
                                />
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Til</mat-label>
                                <input
                                    type="time"
                                    matInput
                                    formControlName="endTime"
                                />
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Pause</mat-label>
                                <input
                                    type="number"
                                    matInput
                                    formControlName="lunchBreak"
                                />
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <input
                                    matInput
                                    disabled
                                    [value]="workTimeLineValue(i)"
                                />
                            </mat-form-field>

                            <button
                                [disabled]="first"
                                mat-icon-button
                                aria-label="Remove work time line"
                                (click)="removeWorkTimeLine(i)"
                                type="button"
                            >
                                <mat-icon *ngIf="!first" aria-label="delete">
                                    delete
                                </mat-icon>
                            </button>
                        </section>
                        <span
                            *ngIf="
                                groupHasError(getWorkHourFormGroup(workHour))
                            "
                        >
                            Ugyldig tidsintervall
                        </span>
                    </div>
                </ng-container>
            </ng-container>
        </form>
        <button
            (click)="addWorkHours()"
            type="button"
            mat-flat-button
            color="primary"
        >
            Legg til
        </button>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions class="c-footer">
        <div>
            <button
                *ngIf="totalWorkTime"
                mat-stroked-button
                type="button"
                [cdkCopyToClipboard]="totalWorkTime"
                (cdkCopyToClipboardCopied)="copyComplete(totalWorkTime)"
            >
                {{ totalWorkTime }}
            </button>
        </div>

        <button mat-button class="c-footer__reset" (click)="onReset()">
            Tilbakestill
        </button>
    </mat-card-actions>
</mat-card>
