input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

.c-form {
    min-height: 6rem;
}

.c-form-section {
    display: flex;
    gap: 1rem;
    align-items: baseline;
    height: 3rem;

    & > mat-form-field {
        width: 60px;
    }
}

.c-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
