<form [formGroup]="form">
    <label>Fra</label>
    <input type="time" formControlName="startTime" />
    <label>Til</label>
    <input type="time" formControlName="endTime" />
    <label>Pause</label>
    <input type="number" formControlName="lunchBreak" />
</form>

<br />
<ng-container *ngIf="value$ | async as value">
    {{ secondsToHHMM(value) }}
    <button class="inline" (click)="addTimeDuration(value)">Legg til</button>
</ng-container>

<ul>
    <li *ngFor="let item of timeDurations">
        {{ secondsToHHMM(item) }}
    </li>
</ul>

<hr />

<div class="footer">
    <span>{{ summation }}</span> <button (click)="onReset()">Reset</button>
</div>
